<div class="hero">
    <ul class="slides">
        <li data-bg-image="images/1.jpg">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Book your Tests online</h2>
                    <p>We take of your health time to time.</p>
                    <a href="#" class="button">Book your appointment</a>
                </div>
            </div>
        </li>
        <li data-bg-image="images/9.jpg">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title"></h2>
                    <p></p>
                    <a href="#" class="button">See details</a>
                </div>
            </div>
        </li>
        <li data-bg-image="images/14.jpg">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title"></h2>
                    <p></p>
                    <a href="#" class="button">See details</a>

                </div>
            </div>
        </li>
    </ul>
</div>
