<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="widget">
                    <h3 class="widget-title">Our address</h3>
                    <strong>Company name INC</strong>
                    <address> Central Lab Indore M- 118 Opposite Railway Station, 117, Yeshwant Niwas Rd, Shivaji Nagar, Indore, Madhya Pradesh 452001</address>
                    <a href="tel:0731 663 3111">0731 663 3111</a> <br>
                    <a href="mailto:cl@centrallabindore.com">cl@centrallabindore.com</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h3 class="widget-title">Our Centers</h3>
                    <ul class="arrow-list">
                        <li><a href="https://www.google.co.in/maps/dir/''/central+lab+centers+indore/data=!4m5!4m4!1m0!1m2!1m1!1s0x3962fd7466a6f8d7:0xe6029d5e5eeb944?sa=X&ved=2ahUKEwjSl8jqp_HcAhUIaI8KHTVtDZwQ9RcwAHoECAEQCQ">Central Lab | Dadavadi, Ganesh Colony | Indore</a></li> 
                        <li><a href="https://www.google.co.in/maps/dir/''/central+lab+centers+indore/data=!4m5!4m4!1m0!1m2!1m1!1s0x3962fdb345dc038f:0x36607e589c598187?sa=X&ved=2ahUKEwiyh6Kup_HcAhWHMY8KHdp5CbgQ9RcwAHoECAEQCQ">Central Lab | Ranjit Hanuman | Indore</a></li>
                        <li><a href="https://www.google.co.in/maps/dir/''/central+lab+centers+indore/data=!4m5!4m4!1m0!1m2!1m1!1s0x3963029d8f924f39:0xc1989823d3cbbfae?sa=X&ved=2ahUKEwjuo5X5p_HcAhXDro8KHaYFCX8Q9RcwAHoECAEQCQ">Central Lab | Kankeshwari, Pardesipura | Indore</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h3 class="widget-title">Our Health Packages</h3>
                    <ul class="arrow-list">
                        <li><a href="#">Allergy Care</a></li> 
                        <li><a href="#">Fever Panel</a></li>
                        <li><a href="#">Cancer Screening</a></li> 
                        <li><a href="#">Diabetic Care</a></li>
                        <li><a href="#">Healthy Heart</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h3 class="widget-title">Social media</h3>
                    <p>Know about us more and stay updated with us through</p>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div> <!-- .row -->

        <p class="colophon">Designed for Central Lab,Indore. Designed by <a href="#" title="Designed by Akshay Chaturvedi" target="facebook.com">Akshay</a>.</p>
    </div> <!-- .container -->
</footer>